@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #cbd5e1;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #555;
}
 
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

textarea::-webkit-scrollbar {
  width: 0.3em;
  background-color: #cbd5e1;
}
 
textarea::-webkit-scrollbar-thumb {
  background-color: #555;
}
 
textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}